$colors: (
  blue: #00a1e0,
  green: #21d3b0,
  yellow: #FAEC53,
  red: #a63d40,
  purp: #bb50e1,
  pink: #e959d5,
  black: #151515
);

body {
  background-color: map-get($colors, black);
}

.App {
  grid-column-start: 2;
  grid-row-start: 2;
  height: 100%;

  .Container {
    text-align: center;
    height: 100%;

    .PlayerList {
      display: grid;
      grid-template-columns: 50% 50%;

      .fade-enter {
        opacity: 0;
      }

      .fade-enter.fade-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
      }

      .fade-leave {
        opacity: 1;
      }

      .fade-leave.fade-leave-active {
        opacity: 0;
        transition: opacity 300ms ease-in;
      }

      .Player {
        position: relative;
        background-color: map-get($colors, blue);
        border-radius: 5%;
        display: inline-grid;
        width: 25vw;
        height: 36vh;
        margin: auto;
        margin-bottom: 3vh;
        align-content: center;

        @media only screen and (max-width: 600px) {
          width: 90%;
        }
        // animation: slideIn 1s ease-in-out forwards;
        h2 {
          position: absolute;
          top: 15%;
          left: 50%;
          transform: translateX(-50%);
          padding: 0 0 5% 0;
          margin: 0;
          height: 5vh;
          word-break: break-all;
          overflow-y: hidden;
          color: white;
        }

        .StatContainer {
          position: absolute;
          text-align: justify;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          p {
            padding: 0;
            margin: 0;
          }
        }

        .Tip {
          padding: 0;
          margin: 0;
          font-size: 0.75rem;
          color: map-get($colors, red);
        }
      }

      @keyframes slideIn {
        from {
          transform: translateX(50%);
          opacity: 0;
        }
        to {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
  }
}
