.App {
  grid-column-start: 2;
  grid-row-start: 2;
  height: 100%;

  .Container {
    text-align: center;
    height: 100%;

    .PlayerList {
      display: grid;
      grid-template-columns: 50% 50%;

      .Player {
        border-style: solid;
        display: inline-grid;
        width: 25vw;
        height: 36vh;
        margin: auto;
        margin-bottom: 3vh;
        align-content: center;
        h2 {
          padding: 0 0 5% 0;
          margin: 0;
          height: 5vh;
        }
      }
    }

    .Stats {
      border-style: solid;
      display: inline-grid;
      width: 25vw;
      height: 36vh;
      margin: auto;
      margin-bottom: 3vh;
      align-content: center;
    }
  }
}
