body {
  background-color: #151515;
}

.App {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  height: 100%;
}

.App .Container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 5% 5% 5%;
      grid-template-rows: auto 5% 5% 5%;
  justify-items: center;
  text-align: center;
  height: 100%;
}

.App .Container .Loading {
  position: relative;
  height: 100%;
  color: #fff;
}

.App .Container .Loading .load-enter {
  opacity: 0;
}

.App .Container .Loading .load-enter.load-enter-active {
  opacity: 1;
  -webkit-transition: opacity 750ms ease-in-out;
  transition: opacity 750ms ease-in-out;
}

.App .Container .Loading .load-leave {
  opacity: 1;
}

.App .Container .Loading .load-leave.load-leave-active {
  opacity: 0;
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}

.App .Container .PlayerList {
  justify-items: center;
}

@media only screen and (max-width: 600px) {
  .App .Container .PlayerList {
    width: 100%;
  }
}

.App .Container .PlayerList .fade-enter {
  opacity: 0;
}

.App .Container .PlayerList .fade-enter.fade-enter-active {
  opacity: 1;
  -webkit-transition: opacity 750ms ease-in-out;
  transition: opacity 750ms ease-in-out;
}

.App .Container .PlayerList .fade-leave {
  opacity: 1;
}

.App .Container .PlayerList .fade-leave.fade-leave-active {
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.App .Container .PlayerList .Player {
  position: relative;
  background-color: #00a1e0;
  border-radius: 5%;
  display: -ms-inline-grid;
  display: inline-grid;
  width: 25vw;
  height: 36vh;
  margin: auto;
  margin-right: 1vw;
  margin-left: 1vw;
  margin-bottom: 1vw;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media only screen and (max-width: 600px) {
  .App .Container .PlayerList .Player {
    width: 90%;
  }
}

.App .Container .PlayerList .Player h2 {
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0;
  height: 5vh;
  color: white;
}

.App .Container .PlayerList .Player .StatContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -35%);
          transform: translate(-50%, -35%);
  width: 100%;
}

.App .Container .PlayerList .Player .StatContainer p {
  padding: 2% 0 2% 0;
  margin: 0;
  color: white;
}

.App .Container .PlayerList .Player .StatContainer span {
  color: #fd991f;
}

.App .Container .PlayerList .Player .Tip {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0;
  margin: 0;
  font-size: 0.75rem;
  color: #a63d40;
}

@-webkit-keyframes slideIn {
  from {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=App.css.map */