.InputField {
  text-align: center;
  height: 40%;
  width: 66%;
  justify-self: center;
}

.RadioGroup {
  ul {
    list-style: none;
    padding: 0;

    .RadioOption {
      border-style: solid none solid none;
      border-width: 1px;
      width: 33%;
      margin-bottom: 2vh;
    }
  }
}

.RemoveButton {
  position: absolute;
}
